GameOperation/GameOperation/Service References/GameOperationServiceReference/GameOperationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9236/GameOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameResultService_1" />
  <xs:element name="InserirResultado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerId" type="xs:long" />
        <xs:element minOccurs="0" name="gameID" type="xs:long" />
        <xs:element minOccurs="0" name="win" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResultadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLeaderboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLeaderboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameResultService_1" minOccurs="0" name="ListarLeaderboardResult" nillable="true" type="q1:ArrayOfLeaderboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>