GameOperation/GameOperation/Service References/GameOperationServiceReference/GameOperationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameResultService_1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameResultService_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeaderboard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Leaderboard" nillable="true" type="tns:Leaderboard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderboard" nillable="true" type="tns:ArrayOfLeaderboard" />
  <xs:complexType name="Leaderboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Leaderboard" nillable="true" type="tns:Leaderboard" />
</xs:schema>